body {
    background-color: lightgray;
}
h1, h5 {
    line-height: .1em;
}
img{
    border: dotted black 1px;
    margin: 5px 5px 5px 5px;
    padding: 2em 2em 2em 2em;
}
.pad {
    padding-top: 4em;
}
#fix {
    overflow: hidden;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.solit {
    width: 25%;
    height: auto;
    background-color: red;
    position: relative;
    -webkit-animation: myfirst 5s linear 2s infinite alternate; 
    animation: myfirst 5s linear 2s infinite alternate;
    animation-iteration-count: 3;
}
@keyframes myfirst {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:300px;}
    75%  {background-color:green; left:0px; top:300px;}
    100% {background-color:red; left:0px; top:0px;}
}

#rotator img {
float: auto;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
}

#rotator img:hover {
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
}